
<h1>Send, shop and pay your way with one account.</h1>

<h4><a href="https://www.paypal.com/us/for-you/transfer-money">Send money</a></h4>
<h5>Send, request and collect money from PayPal friends and family</h5>

<h4><a href="https://www.paypal.com/us/webapps/mpp/pay-online">Shop effortlessly</a></h4>
<h5>Check out fast using your stored cards or bank account</h5>

<h4><a href="https://www.paypal.com/us/webapps/mpp/credit-line-and-card-services">Pay your way</a></h4>
<h5>Shop with our credit, debit, prepaid cards or digital credit line</h5>