<p>footer works!</p>
<h6>^Subject to issuer's reward program terms and conditions.</h6>

<strong><h6><a href="https://www.paypal.com/us/smarthelp/home">Help</a></h6></strong>
<strong><h6><a href="https://www.paypal.com/us/smarthelp/contact-us">Contact</a></h6></strong>
<strong><h6><a href="https://www.paypal.com/us/webapps/mpp/paypal-fees">Fees</a></h6></strong>
<strong><h6><a href="https://www.paypal.com/us/webapps/mpp/paypal-safety-and-security">Security</a></h6></strong>
<strong><h6><a href="https://www.paypal.com/us/webapps/mpp/mobile-apps">Apps</a></h6></strong>
<strong><h6><a href="https://www.paypal.com/us/webapps/mpp/shopping-selection">Shop</a></h6></strong>

<hr>

<h5><a href="https://www.paypal.com/us/webapps/mpp/about">About</a></h5>
<h6><a href="https://www.paypal.com/stories/us">Blog</a></h6>
<h6><a href="https://www.paypal.com/us/webapps/mpp/jobs">Jobs</a></h6>
<h6><a href="https://investor.paypal-corp.com/">Investor Relations</a></h6>
<h6><a href="https://www.paypal.com/us/webapps/mpp/social-innovation">Social Innovation</a></h6>
<h6><a href="https://publicpolicy.paypal-corp.com/">Public Policy</a></h6>
<h6><a href="https://www.paypal.com/us/webapps/mpp/full-sitemap">Sitemap</a></h6>
<h6><a href="https://www.paypal.com/us/webapps/mpp/enterprise">Enterprise</a></h6>
<h6><a href="hhttps://www.paypal.com/us/webapps/mpp/partner-program">Partners</a></h6>

